AZURE_OPENAI_API_VERSION=2024-02-15-preview
AZURE_OPENAI_ENDPOINT=https://your-resource.openai.azure.com/
AZURE_OPENAI_KEY=your_azure_openai_key
AZURE_OPENAI_MODEL=gpt-4o
AZURE_SPEECH_KEY="3Gjhf5OAHI3G4ybaGJu55jAtOC0dyVuN4AcflNYeOy9XKsRNzE8aJQQJ99BGACGhslBXJ3w3AAAYACOGEZwr"
AZURE_SPEECH_REGION="centralindia"
AZURE_SPEECH_LANGUAGE=en-US
USE_MOCK_SPEECH=true

